@import 'tailwindcss';

/*
@plugin 'daisyui' {
	themes: cyberpunk --default, sunset --prefersdark;
}
*/
@custom-variant dark (&:where(.dark, .dark *));

h1 {
	@apply text-2xl pb-2 font-bold;
}

h2 {
	@apply text-xl pb-2 font-bold;
}

h3 {
	@apply text-lg pb-2 font-bold;
}

.footnotes {
	@apply py-2 text-sm;
}

.footnotes h3 {
	@apply underline;
}

.woc {
	@apply text-red-700 dark:text-red-500;
}

.footnote {
	@apply px-1 text-sm dark:text-stone-400 text-violet-600;

}

.chapter-num, .verse-num {
	@apply dark:bg-stone-800 dark:text-stone-200 text-violet-950 text-sm;
	
}

.highlighted {
	@apply dark:bg-violet-500 bg-amber-600 dark:text-violet-200 text-stone-900;
}

.verse a {
	scroll-margin: 53px;
}


@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none; 
		scrollbar-width: none;
  }
}

#body-overlay {
	width: 100vw;
	height: 100vh;
	display: none;
	position: fixed;
	z-index: 6;
	top: 0;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
  }
  
  .real-menu {
	position: fixed;
	top: 0;
	right: -300px;
	z-index: 7;
	width: 300px;
	height: 100%;
	padding: 0.5rem 1rem;
	box-shadow: 0 6px 12px rgba(107, 82, 82, 0.3);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: ease 0.2s all;
  }
  
  body.menu-open #body-overlay {
	display: block;
  }
  body.menu-open .real-menu {
	right: 0;
  }